/* home_page.css */

/* Logout Container */
.logout-container {
    text-align: right;
    padding: 10px;
  }
  
  .logout-container button {
    background-color: rgb(231, 216, 216);
    cursor: pointer;
    color: #000;
    font-weight: bold;
  }
  
  .logout-container button:hover {
    color: #00ff00; /* Green color */
  }
  
  /* Upload Form */
  .upload-form {
    margin-top: 20px;
    text-align: center;
  }
  
 h1 {
    font-size: 40px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .upload-form input[type="file"] {
    margin-bottom: 10px;
    justify-content: center;
  }
  
  /* Photo Container */
  #photo-container {
    margin-top: 20px;
    text-align: center;
    justify-content: center;
  }
  
  #photo-container div {
    margin-bottom: 20px;
  }
  
  #photo-container img {
    width: 100%;
    height: auto;
    max-width: none;

  }
  
  .uploaded-photo {
    width: 650px;
    height: 400px;
    object-fit: cover;
    justify-content: center;
}

  #photo-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  #photo-container ul li {
    margin-bottom: 5px;
  }
  
  #photo-container ul li button {
    color: #111111;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  #photo-container ul li button:hover {
    background-color: #71bb6a; 
  }
  
  #photo-container .delete-form,
  #photo-container .add-annotation-form,
  #photo-container .delete-all-annotations-form {
    margin-top: 10px;
  }
  
  #photo-container .delete-form input[type="button"],
  #photo-container .add-annotation-form input[type="submit"],
  #photo-container .delete-all-annotations-form input[type="submit"] {
    color: #161616;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  #photo-container .delete-form input[type="button"]:hover,
  #photo-container .add-annotation-form input[type="submit"]:hover,
  #photo-container .delete-all-annotations-form input[type="submit"]:hover {
    background-color: #71bb6a; 
  }
  
  #photo-container .add-annotation-form input[type="text"] {
    margin-bottom: 5px;
  }
  
  #photo-container .delete-all-annotations-form input[type="submit"] {
    color: #100f0f;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  #photo-container .delete-all-annotations-form input[type="submit"]:hover {
    background-color: #db5656; 
  }
  